
.animal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    justify-content: center;
    background-color: white;
    border-radius: 16px;
    margin-top: 100px;
    height: 100%;
    text-align: center;
    padding: 1rem;
}

.filter-container {
    display: flex;
    flex-direction: column;
    border-style:double;
    margin-top: 10px;
    width: 40%;
    min-height: 20rem;
}

.filter-container h1 {
    align-self: center;
    margin-bottom: 10px;
}

.filter-container .top-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.filter-container p {
    margin-left: 20px;
    font-size: 1.25rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.filter-container p[id='check'] {
    cursor: pointer;
}

.filter-container p[id='check']:hover {
    color: blue;
}

.filter-container .top-filter input {
    font-size: 1.1rem;
    margin-bottom: 10px;
    width: 80%;
    text-align: center;
    height: 1.5rem;
}

.filter-container a[id='checked?'] {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
}

.filter-container a[id='checked?'] p {
    margin-left: 4px;
}

.filter-container a[id='checked?'] img {
    max-width: 20px;
    max-height: 20px;
    cursor: pointer;
}

@media screen and (max-width: 490px) {
    .filter-container {
        width: 90%;
    }
}


.sub-container {
    display: flex;
    flex-direction: row ;
    align-items: center;
    width: 100%;
}

.animals-organization {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}