@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

* {
    font-family: 'Abyssinica SIL', serif;
}

.container {
    background: linear-gradient(45deg, #232dc2, #3f48cc);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    min-height: 100vh;
}

.icon-container {
    display: flex;
    align-items: flex-start;
    padding-right: 8px;
}

.top-page {
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
}

.top-page .images-control {
    display: flex;
    align-items: center;
}

.top-page .images-control p {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-left: 15vw;
}

.top-page .images-control p img {
    max-width: 30px;
    max-height: 30px;
}

img[id='logo'] {
    max-width: 100px;
    max-height: 100px;
}

@media screen and (max-width: 490px) {

    .top-page img[id='logo'] {
        max-width: 90px;
    }

    .top-page .images-control p {
        font-size: 0.9rem;
        margin-left: 0.7rem;
    }
}