* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.register {
    background: linear-gradient(45deg, #232dc2, #3f48cc);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.form-container {
    text-align: center;
    background: white;
    max-width: 350px;
    min-width: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
}

.input-field input[type="password"] {
    margin-top: 1rem;
}

.input-field input {
    width: 100%;
    margin-top: 1rem;
    padding: 0.4rem;
    font-size: 0.9rem;
    border: 1px solid black ;
    color: rgba(0, 0, 0, 0.7);
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5)
}

button {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 0.4rem;
    cursor: pointer;
}

span {
    color: black;
    margin-top: 1rem;
}

.footer .social-field {
    padding: 0.4rem;
    border-radius: 4px;
    font-size: 0.85rem;
    width: 100%;
    cursor: pointer;
    margin-top: 1rem;
}

.footer .social-field a i {
    margin: 0 0.5rem;
}

.footer .social-field a {
    text-decoration: none;
    color: white;
}

.footer .social-field.twitter {
    background: #298cb3;
}

.footer .social-field.facebook {
    background: #053aad;
}
